@import '../../../../assets/styles/all';

.Heading{
    margin:auto;
    text-align: center;
    margin-bottom: 40px;
    p{
        @include b4s-body();
    }
    h2{
        @include b4s-h2(white, 700);
        margin-bottom:10px;
    }
}