@import '../../assets/styles/all';

.table{
    width: 100%;
    box-sizing: border-box;
    table-layout: fixed;
    border-spacing: 30px 0;
    .head, .body, .foot{
        border-spacing: 30px 0;
    }
    tr, td, th{
        border-spacing: 30px 0;
    }

    .titleColumn{
        padding: 30px;
        width:50%;
    }
    
    .title{
        @include b4s-body();
    }
    
    .description{
        @include b4s-body-small($b4s-blue-3);
    }
    
    .headRow{
        height:100px;
        padding:20px;

        .headLogo{
            height:60px;
        }
    
        .standard{
            @include b4s-h3($b4s-blue-3);
        }

        .vip{
            @include b4s-h3($b4s-gold-1);
        }

        .headingSub{
            @include b4s-body-small(white, 300);
        }
    }
    
    .tr{
        height: 90px;
    }
    
    .bodyRow:nth-child(2n+1){
        background: $b4s-blue-2;
    }
    
    .rowContent{
        text-align:center;
        @include b4s-body();
    }

    .checkImg{
        height:32px;
        width:32px;
    }

    .footRow{
        height:100px;
    }
}

.vipModal{
    width: 800px;
    .head{
        background: $b4s-grey-1;
        padding: 30px;
        border-radius: 5px;
        .title{
            @include b4s-title($b4s-blue-2, 400);
        }
    }

    .body{
        padding: 30px;
        .p{
            @include b4s-body-small($b4s-blue-2);
            text-align: justify;
        }

        .plans{
            padding: 40px 0;
            display: flex;
            flex-direction: row;
            width:100%;
            justify-content: space-around;
            .plan{
                border: 5px solid $b4s-grey-1;
                cursor: pointer;
                border-radius: 5px;
                padding: 30px 0;
                width: 300px;
                text-align: center;
                .vip{
                    @include b4s-h3($b4s-gold-1);
                    margin-bottom: 10px;
                }
                .period{
                    @include b4s-body($b4s-blue-2, 700);
                }
                .price{
                    @include b4s-body-small($b4s-blue-2);
                }
                &:hover{
                    box-shadow: 2px 2px 20px 0px rgba($b4s-blue-4, .6);
                }

            }
        }
    }

    .foot{
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid $b4s-grey-1;
        padding: 30px;
        button{
            width: unset;
        }
    }
}

@include respond-to(medium-screens) {
    .table .footRow{
        height: unset;
    }
}

@include respond-to(small-screens) {
    .table{
        tr{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 20px;

            td:nth-child(2), th:nth-child(2){
                margin-right:20px;
            }
    
            .rowContent{
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
            }

            .titleColumn{
                text-align: center;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding: 0 5px 10px;
                height: unset;
                margin-top: 20px;
            }

            th.titleColumn{
                display: none;
            }
        }

        .body tr{
            .rowContent{
                height: 80px;
                background: $b4s-blue-2;
            }
        }
        .body tr.bodyRow, .foot tr{
            background: none;
        }
    }

    .vipModal{
        .head, .body, .foot{
            padding:20px 30px;
        }
    }
}

@include respond-to(tablet-screens) {
    .vipModal{
        width:unset;
        margin:0 20px;
        .body .plans{
            padding: 30px 0;
            flex-direction: column;
            align-items: center;
            .plan:nth-child(1){
                margin-bottom:20px;
            }
        }
    }
}

@include respond-to(mobile-screens){
    .overlay{
        background: transparent !important;
    }
}