@import '../../assets/styles/all';

.button{
    cursor: pointer;
}

.primary{
    @include b4s-pink-grad-1();
    @include b4s-button();
    border: 1px solid $b4s-pink-4;
    box-shadow: 0 2px 5px rgba($b4s-pink-5, .75);
}

.dark{
    @include b4s-blue-grad-1();
    @include b4s-button();
    box-shadow: 0 2px 5px 2px rgba($b4s-purple-1, .5);
}

.light{
    @include b4s-button();
    @include b4s-cyan-grad-1();
    color: white;
    box-shadow: 0 2px 5px rgba($b4s-blue-8, .75);
    border: none;
}

.transparent{
    border: none;
    background-color: transparent;
}

.small{
    min-width: auto;
    font-weight: 600;
    font-size: 14px;
    padding: 7px 30px;
}

.disabled{
    cursor: wait;
    opacity: 0.8;
}