@import '../../assets/styles/all';

.tabs{
    display: flex;
    flex-direction: row;
    margin-bottom:40px;
    @include respond-to(tablet-screens) {
        justify-content: center;
    }
}

.tab{
    @include b4s-body($b4s-blue-3);
    margin-right:30px;
    padding-bottom: 4px;
    white-space: nowrap;
    cursor: pointer;
    &.active{
        border-bottom: 3px solid $b4s-pink-1;
    }
    &:hover{
        border-bottom: 3px solid $b4s-blue-3;
    }
    &:last-child{
        margin-right: 0;
    }
}