@import '../../assets/styles/all';

.static{
    padding: 40px;

    .container{
        width: 720px;
        margin: auto;
    }

    @include respond-to(tablet-screens) { 
        .container{
            width: auto;
        }
    }

    h2{
        @include b4s-h2($b4s-blue-2);
        text-align: center;
    }

    h3{
        @include b4s-title($b4s-blue-2);
        margin-top:50px;
        text-align: justify;
    }
    
    p, li{
        @include b4s-body($b4s-blue-2);
        line-height: 25px;
        text-align: justify;
    }
    
    li{
        list-style: inside;
    }
}
