@import '../../assets/styles/all';

.container{
    @include b4s-container();
}

.sectionHead{
    margin-bottom: 50px;
    text-align: center;
    h2{@include b4s-h2();}
    h3{@include b4s-h3();}
    p, p a{ @include b4s-body();}
}

.head{
    background: url('../../assets/img/home-head-bg.svg') $b4s-blue-1;
    background-size: cover;
    background-position: bottom;
    .headImg{
        width:100%;
    }
    .headLine{
        display: flex;
        flex-direction: row;
        padding:40px 0 60px;
        justify-content: space-between;
        align-items: center;
        .logo img{
            height:80px;
        } 
    }
    @include respond-to(tablet-screens) {
        .headLine{
            flex-direction: column;
            padding:40px 0 60px 0;
            align-items: center;
        }
    }
    .headContent{
        display: flex;
        flex-direction: row;
        
        .textHalf{
            flex:70%;
            .headText{
                margin-bottom: 40px;
                h1{@include b4s-h2(); margin-bottom: 20px;}
                p{ @include b4s-body();width: 450px}
            }
            .buttons{
                display: flex;
                flex-direction: row;
                button{
                    width: 200px;
                }
                button:nth-child(1){
                    margin-right: 40px;
                }
            }
            @include respond-to(tablet-screens) {
                .headText{
                    h1{
                        text-align: center;
                    }
                    p{
                        text-align: center;
                        margin:auto;
                        width: 375px;
                    }
                }
        
                .buttons{
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    button:nth-child(1){
                        margin:0 0 20px;
                    }
                }
            }
        
            @include respond-to(mobile-screens) {
                .headText{
                    p{
                        width: auto;
                    }
                }
            }
        }
        .imgHalf{
            flex: 30%;
            img{
                height: 450px;
                top: -60px;
                position: relative;
                z-index: 1;
            }
        }
        @include respond-to(small-screens) {
            .imgHalf{
                display: none;
            }
        }
    }

}

.features{
    padding: 100px 0;
    background: $b4s-blue-1;
    @include respond-to(tablet-screens) {
        padding: 50px 0;
    }
    .featuresBody{
        position:flex;
    }

    .feature{
        display: flex;
        flex-direction:row;
        margin: 100px 0;
        .featureText{
            flex-basis: 50%;
            flex-shrink: 0;
            .featureTitle{
                @include b4s-h1(white, 600);
                margin-bottom: 15px;
            }
            .featureDesc{
                @include b4s-feature-text();
                text-align: justify;
            }
        }
        .producerImg{
            flex-basis: 50%;
            max-height: 100%;
            max-width: 100%;
            mix-blend-mode: lighten;
            border-radius: 80px 30px;
        }
        .beatsImg{
            flex-basis: 50%;
            max-height: 100%;
            max-width: 100%;
            mix-blend-mode: lighten;
            border-radius: 80px 30px;
        }

        .marginLeft{
            margin-left:100px;
        }

        .marginRight{
            margin-right:100px;
        }
    }

    
    @include respond-to(small-screens) {
        .feature{
            margin: 0;
            align-items: center;
            &.productores{
                margin-bottom: 50px;
                flex-direction: column-reverse;
                
                .producerImg{
                    margin:0 0 50px 0;
                }
            }
            &.beats{
                flex-direction: column;
                .beatsImg{
                    margin:0 0 50px 0;
                }
            }
    
            .producerImg{
                height: 250px;
                width: 320px;
            }
    
            .beatsImg{
                height: 250px;
                width: 320px;
            }
        }
    }
}

.logos{
    background: url('../../assets/img/home-logos.svg') $b4s-blue-1;
    background-size: cover;
    background-position: top;
    padding:100px 0;
    @include respond-to(tablet-screens) {
        padding: 50px 0;
    }

    .logoRow1,.logoRow2 {
        display: flex;
        flex-direction: row;
        img{
            height: 125px;
        }
    }
    .logoRow1{
        justify-content: space-between;
    }
    .logoRow2{
        justify-content: space-evenly;
    }

    @include respond-to(medium-screens) {
        img{
            height:100px;
            width: 100px;
        }
    }
    

    @include respond-to(tablet-screens) {
        .logoRow1{
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .logoRow2{
            display: none;
        }

        img{
            flex: 1 0 30%;
        }

        img:child-nth(1){order:4;}
        img:child-nth(2){order:1;}
        img:child-nth(3){order:2;}
        img:child-nth(4){order:3;}
        img:child-nth(5){order:5;}
    }

}


.nuestrosBeats{
    padding: 100px 0;
    background: $b4s-blue-2;
    @include respond-to(tablet-screens) {
        padding: 50px 0;
    }
}

.subscribe{
    padding: 100px 0;
    background: $b4s-blue-1;
    @include respond-to(small-screens) {
        padding: 50px 0;
    }
}

.grandesPesos{
    background: $b4s-blue-2;
    display: flex;
    flex-direction: column;
    padding: 24px 0;

    .fila1{
        background-image: url(../../assets/img/b4s-credits-1.jpg), url(../../assets/img/b4s-credits-3.jpg);
        background-position: center;
        background-repeat: no-repeat, repeat;
        height: 200px;
    }
    .fila2{
        display: flex;
        height:200px;
        padding: 24px 0;
        .espacioIzq{
            flex:1;
            background-image: url(../../assets/img/b4s-credits-2.jpg);
            background-position: right;
        }
        .promo{
            display: flex;
            flex-direction: column;
            width:360px;
            padding: 0 43px;
            text-align: center;
            justify-content: space-between;
            h3{@include b4s-h3(white, 500);}
            p{ @include b4s-title(white, 300);}
        
        }
        .espacioDer{
            flex:1;
            background-image: url(../../assets/img/b4s-credits-2.jpg);
            background-position: left;
        }
    }
    .fila3{
        background-image: url(../../assets/img/b4s-credits-3.jpg), url(../../assets/img/b4s-credits-1.jpg);
        background-position: center;
        background-repeat: no-repeat, repeat;
        height: 200px;
    }

    @include respond-to(tablet-screens) {
        .fila2{
            height: 150px;
        }
        .fila1,.fila3{
            height: 150px;
            background-size: 922px 150px;
            background-position: 0px 0px;
            background-repeat: repeat-x;
            animation: animatedBackground 40s linear infinite;
        }
        @keyframes animatedBackground {
            from { background-position: 0 0; }
            to { background-position: 100% 0; }
        }
    }
}
