@import '../../assets/styles/all';

.container{
    position: relative;
    .icon{
        color: $b4s-blue-2;
        font-size:14px;
    }
    
    .tooltip{
        @include b4s-body-small(white, 600);
        padding: 10px;
        background: rgba($b4s-blue-1, .8);
        display:none;
        position: absolute;
        top:40px;
        left: -100px;
        border-radius: 5px;
        z-index:100;
    }
    &:hover{
        .tooltip{
            display: block;
        }
    }
}
