@import '../../assets/styles/all';

.card{
    display: flex;
    flex-direction: row;
    background: $b4s-grey-1;
    min-height: 320px;
}

.resumen{
    flex: 1;
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    h2{
       @include b4s-h2($b4s-blue-2); 
    }
    h4{
       @include b4s-title($b4s-blue-2); 
    }
    p{
        @include b4s-body($b4s-blue-2);
    }
}

.half{
    flex:1;
}

.dateForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    >*{
        margin:15px;
    }
    margin-bottom: 30px;
}

.monthSelector{
    width:100%;
}

.table{
    display: flex;
    flex: 1;
    @include b4s-body($b4s-blue-2);
    table{
        width: 100%;
        th{
            text-align: left;
        }
    }
}
