@import '../../../../assets/styles/all';

.Heading{
    margin:auto;
    text-align: center;
    margin-bottom: 40px;
    p{
        @include b4s-body();
    }
    h2{
        @include b4s-h2(white, 700);
        margin-bottom:10px;
    }
}

.methods{
    width: 480px;
    margin: auto;

    .payCard{
        display: flex;
        flex-direction: row;
        height:60px;
        align-items: center;
        margin-bottom: 30px;

        img{
            height:15px;
        }

        .logo{
            margin-left: 20px;
            width:70px;
        }

        .name{
            margin-left:20px;
            flex:1;
            @include b4s-body-small($b4s-blue-2);
        }

        .authorise{
            margin-right:20px;
            button{
                @include b4s-body-small();
                box-shadow: 0 1px 5px rgba($b4s-pink-5, 0.75);
            }
        }
    }

    .planCard{
        padding: 20px;

        .title{
            @include b4s-body($b4s-blue-2, 500);
            margin-bottom: 15px;
        }

        .subCard{
            background: $b4s-grey-1;
            padding:20px;
            display: flex;
            flex-direction: row;
            border-radius: 5px;

            .memtitle{
                @include b4s-body($b4s-blue-2);
            }
            .desc{
                
                .small{
                    @include b4s-body-small($b4s-blue-2);
                }
                
            }
            .change{
                display: flex;
                align-items: center;
                flex: 1;
                justify-content: flex-end;
                a{
                    text-decoration: none;
                }
            }
        }
    }

}

@include respond-to(tablet-screens) { 
    .methods{
        width: auto;
    }
}