@import '../../../../assets/styles/all';

.udContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    background: $b4s-grey-1;
    &.dataCard{
        flex: 2;
        margin-right:40px;
    }
    &.passwordCard{
        flex:1;
    }

    .title{
        @include b4s-title($b4s-blue-2, 600);
        margin-bottom: 15px;
    }

    form{
        display:flex;
        flex-direction: column;
        .nombres{
            display: flex;
            flex-direction: row;
            .primer{
                margin-right:20px;
            }
        }

        .ultimo{
            margin-bottom:40px;
        }
    }
}

@include respond-to(small-screens) {
    .card{
        width:auto;

        form{
            .nombres{
                flex-direction: column;
                Input{
                  flex: auto;  
                }
                .primer{
                    margin-right:0;
                }
            }
        }
    }
}

@include respond-to(tablet-screens) {
    .udContainer{
        flex-direction: column;
        .dataCard{
            margin: 0 0 40px 0;
        }
    }
}
