@import '../../assets/styles/all';

.header{
    padding:40px 0 60px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;

    .logo img{
        height:80px;
    }

    .userStatus{
        @include b4s-body-small($b4s-blue-3);
        display: flex;
        flex-direction: row;

        .userCredits{
            display: flex;
            flex-direction: row;
            align-items: center;

            .bold{
                @include b4s-body-small($b4s-blue-3, 600)
            }
            .gemIcon{
                @include b4s-icon-primary;
                font-size: 18px;
            }
            .credits{
                margin-left: 5px;
                margin-right: 5px;
                @include b4s-body-small(white, 700);
            }
        }

        .userOptions{
            margin-left:30px;
            .icon{
                color: white;
                font-size: 32px;
                cursor: pointer;
            }
        }

    }

    @include respond-to(tablet-screens) {
        flex-direction: column;
        padding:40px 0 60px 0;
        align-items: center;

        .logo{
            flex:1;
        }

        .userStatus{
            width:326px;
            margin-bottom:20px;
            justify-content: space-between;
            
            .userCredits .gemIcon{
                font-size: 16px;
            }

            .userOptions .userMenu{
                margin-left:-100px;
            }
        }
    }

    @include respond-to(mobile-screens) {
        padding: 0 0 40px 0;
        .userStatus{
            margin-bottom:40px;
        }
    }
}


 .container{
     @include b4s-container()
 }