@import '../../assets/styles/_all';

.headerAlert{
    background: $b4s-purple-2;
    border-radius:5px;
    margin-bottom: 20px;
    padding: 30px;
}

h2{
    @include b4s-title(white,400);
}

p{
    @include b4s-body-small(white);
}
