@import '../../assets/styles/all';

.static{
    padding: 40px;

    .container{
        width: 720px;
        margin: auto;
    }

    @include respond-to(tablet-screens) { 
        .container{
            width: auto;
        }
    }

    h3{
        @include b4s-h3($b4s-blue-2);
        text-align: center;
        margin-bottom: 30px;
    }
    
    p, li{
        @include b4s-body-small($b4s-blue-2);
        line-height: 25px;
    }
    
    li{
        list-style: inside;
    }
}
