@import '../../assets/styles/_all';

.card{
    background: $b4s-grey-1;
}

.h4{
    @include b4s-title($b4s-blue-2);
    margin-bottom:10px;
}
.p{
    @include b4s-body-small($b4s-blue-2);
    margin-bottom:20px;
}
