@import '../../assets/styles/all';

.overlay{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba($b4s-blue-2, 0.5);
    z-index:2;
    display: flex;
    align-items: center;
    justify-content: center;
}