@import '../../assets/styles/all';

// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.2
// MIT License

$track-color: $b4s-pink-6 !default;
$track-progress-color: $b4s-pink-1 !default;

$track-width: 100% !default;
$track-height: 4px !default;
$track-shadow-size: 2px !default;
$track-shadow-blur: 2px !default;
$track-shadow-color: rgba($b4s-pink-2, .5) !default;
$track-border-width: 1px !default;

$track-radius: 5px !default;
$contrast: 5% !default;


@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  cursor: pointer;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

[type='range'] {
  overflow: hidden;
  -webkit-appearance: none;
  background: transparent;
  width: $track-width;

  &::-moz-focus-outer {
    border: 0;
  }

  &:focus {
    outline: 0;

    &::-webkit-slider-runnable-track {
      background: lighten($track-color, $contrast);
    }

    &::-ms-fill-lower {
      background: $track-color;
    }

    &::-ms-fill-upper {
      background: lighten($track-color, $contrast);
    }
  }

  &::-webkit-slider-runnable-track {
    @include track;
    background: $track-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    width: 5px;
    -webkit-appearance: none;
    height: 10px;
    cursor: pointer;
    background: $b4s-blue-2;
    box-shadow: -500px 0 0 500px $track-progress-color;
  }

  &::-moz-range-track {
    @include track;
    background: $track-color;
    border-radius: $track-radius;
    height: $track-height;
  }

  &::-moz-range-progress {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    @include track;
    background: $track-progress-color;
    border-radius: $track-radius;
    height: $track-height;
  }

  &::-moz-range-thumb {
    background: $b4s-blue-2;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    cursor: pointer;
    height: $track-height;
    width: 5px;
  }


  &::-ms-track {
    @include track;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-fill-lower {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-progress-color;
    border-radius: ($track-radius * 2);
  }

  &::-ms-fill-upper {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border-radius: ($track-radius * 2);
  }

  &:disabled {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb,
    &::-webkit-slider-runnable-track,
    &::-ms-fill-lower,
    &::-ms-fill-upper {
      cursor: not-allowed;
    }
  }
}