@import '../../assets/styles/all';

.player{
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,.5);
    @include b4s-body-small($b4s-blue-2, 600);

    .sidebar{
        border-radius:5px;
        width:250px;
        background: $b4s-grey-1;

        button {
            border: none;
            background: transparent;
            cursor: pointer;
            @include b4s-body-small($b4s-blue-2, 600);
        }

        .sidebarContent{
            padding: 40px 70px 0 40px;

            ul{
                margin-bottom: 30px;

                .iconItem{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width:106px;
                    align-items: center;

                    .icon{
                        font-size:10px;
                    }
                }
            }


            .title{
                @include b4s-body-small($b4s-blue-2, 700);
                margin-bottom: 10px;
            }

            ul li{
                list-style: none;
                margin-bottom: 3px;

                &.active{
                    @include b4s-body-small($b4s-blue-7, 700);
                    .icon{
                        color: $b4s-blue-7;
                    }
                }
            }
        }
    }

    .songList{
        flex-grow: 1;
        padding: 0 20px;
        display: flex;

        .loading{
            display: flex;
            justify-content: center;
            flex-grow: 1;
            align-items: center;
            i{
                font-size: 60px;
                width:60px;
                height: 60px;
            }
        }

        table{
            width:100%;

            tbody{
                overflow: auto;
                height: 400px;
                display: block;
            }
            
            tr{
                height: 64px;
                display: flex;
                align-items: center;
                text-align: left;
            }

            th, td{
                vertical-align: middle;
                padding:0 30px;
            }

            .play{
                width:5px;
            }

            .name{
                width:200px;
            }

            .length{
                flex: 1;
                display:inline-block;
                /* to keep IE happy */
            }

            .actions{
                width:80px;
            }

            .flexBox{
                display:flex;
                flex-direction: row;
                justify-content: space-between;
            }

            thead tr th{
                font-weight: 600;
            }
            tbody tr:nth-child(odd){
                background: $b4s-grey-1;
                border-radius:8px;
            }

            .actionIcon:before{
                font-size: 20px;
                cursor: pointer;
            }

            .selected:before{
                @include b4s-icon-primary();
            }
        }

        @include respond-to(small-screens) {
            table{

                .name{
                    flex: 1;
                    display:inline-block;
                    /* to keep IE happy */
                    width:auto;
                }

    
                .length{
                    display:none;
                }
            } 
        }
    }

    &.oneRow{
        box-shadow: none;
        .sidebar{
            display:none;
        }
        .songList{
            padding:0;
            table {
                thead{
                    display:none;
                }
                tbody{
                    height: auto;
                }
            }
        }
    }

    @include respond-to(small-screens) {
        flex-direction: column;
        .sidebar{
            width: auto;
            .sidebarContent{
                display: flex;
                flex-direction: row;
                padding: 15px 30px 0 30px;
                .quickList{
                    flex:1;
                }
                .title{
                    display: none;
                }

                ul li{
                    margin-top:15px;
                }
            }
        }
        .songList{
            padding: 0;
            margin: 0 8px;
            .play, .actions{
                padding: 0 15px;
            }
        }
    }


}

.dark{
    background: black;
    color: $b4s-blue-3;

    .sidebar{
        background: $b4s-blue-7;
        .title{
            color:white;
        }
    }

    .songList{
        table{
         tbody tr:nth-child(odd){
            background: $b4s-blue-7;
        }  
        .selected:before{
            @include b4s-icon-dark();
        } 
        } 
    }
}