@import '../../../../assets/styles/all';

.Heading{
    margin:auto;
    text-align: center;
    margin-bottom: 40px;
    width:480px;
    p{
        @include b4s-body();
    }
    h2{
        @include b4s-h2(white, 700);
        margin-bottom:10px;
    }
}

.method{
    margin:auto;
    width: 480px;

    .payCard{
        margin-bottom: 30px;
        padding:20px;

        .title{
            @include b4s-body($b4s-blue-2, 500);
            margin-bottom: 15px;
        }

        .subCard{
            background: $b4s-grey-1;
            padding:20px;
            display: flex;
            flex-direction: row;
            border-radius: 5px;

            .memtitle{
                @include b4s-body($b4s-blue-2);
            }
            .desc{
                
                .small{
                    @include b4s-body-small($b4s-blue-2);
                }
                
            }
            .change{
                display: flex;
                align-items: center;
                flex: 1;
                justify-content: flex-end;
                a{
                    text-decoration: none;
                }
            }
        }
    }

    .alert{
        margin-top:20px;
    }
}

@include respond-to(tablet-screens) { 
    .method, .Heading{
        width: auto;
    }
}

.creditCard{
    background: $b4s-grey-1;
    .cardLabel{
        @include b4s-body-small($b4s-blue-2, 500);
        input,.StripeElement{
            margin-top:10px;
        }
    }

    .input{
        @include b4s-body($b4s-blue-2, 100);
    }
    
    .StripeElement {
        display: block;
        margin-bottom: 20px;
        max-width: 500px;
        padding: 20px 14px;
        box-shadow: 1px 1px 3px 1px rgba($b4s-blue-3, 0.4);
        border: 0;
        outline: 0;
        border-radius: 4px;
        background: white;
      }
    
    .secondCardrow{
        display: flex;
        flex-direction: row;
        align-content: stretch;
        .space{
            width:40px;
        }
        .cardLabel{
            flex: 1;
        }
    }
}

.footNote{
    @include b4s-body-small($b4s-blue-2, 400);
    margin-top: 20px;
    text-align: center;
}
