@import '../../../../assets/styles/all';

.loading{
    font-size: 60px;
    color:white;
    display: flex;
    justify-content: center;
}

.feedCard{
    margin-bottom: 50px;
    max-width: 720px;
    .titleRow{
        padding: 20px 20px 0 20px;
        display: flex;
        justify-content: space-between;
        .date{
            @include b4s-body-small($b4s-blue-2, 600);
        }
        .cat{
            @include b4s-body($b4s-blue-2, 400);
        }
    }
    .bodyRow{
        padding: 30px 20px;
        @include b4s-body($b4s-blue-2);
    }
    .footRow{
        padding: 10px 20px 10px 20px;
        background: $b4s-grey-1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-radius: 0 0 5px 5px;

        .footnote{
            @include b4s-body-small($b4s-blue-2, 300);
            margin-right: 20px;
        }

        .likeCount{
            @include b4s-title($b4s-blue-2, 500);
            margin-left: 5px;
        }


        .actionIcon:before{
            font-size: 20px;
            cursor: pointer;
        }

        .selected:before{
            @include b4s-icon-primary();
        }
    }
}