@import './all';

//This file contains rules that affects the web application window, outside of react's jurisdiction

*{
    margin:0;
    padding:0;
}

html{
    height: 100%;
    font-family: 'Poppins', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body{
    height: 100%;   
    display: flex;  /*enables flex content for its children*/
    box-sizing: border-box;
}

#root{
    width:100%;
}