@import '../../../../assets/styles/all';

.Heading{
    margin:auto;
    text-align: center;
    margin-bottom: 80px;
    p{
        @include b4s-body();
    }
    h2{
        @include b4s-h2(white, 700);
        margin-bottom:10px;
    }
}

.loading {
    margin:auto;
    text-align: center;
    max-width: 480px;
    i{
        font-size: 64px;
        color: white;
    }
}

.footer{
    max-width: 480px;
    margin: auto;
    p{
        @include b4s-body();
        text-align: center;
        margin-bottom: 20px;
    }
}