@import '../../assets/styles/all';


.modal{
    h4{
        @include b4s-title($b4s-blue-2);
    }
    p{
        @include b4s-body-small($b4s-blue-2);
    }
    padding: 30px;
    .buttonBar{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        button:first-child{
            margin-right: 20px;
        }

        button{
            width: 200px;
        }
    }
}

@include respond-to(small-screens) {
    .modal{
        .buttonBar{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            button:first-child{
                margin-right: 0px;
                margin-bottom: 20px;
            }
    
            button{
                width: auto;
            }
        }
    }
}

.actionIcon:before{
    font-size: 20px;
    cursor: pointer;
}

.selected:before{
    @include b4s-icon-primary();
}