@import '../../../../assets/styles/all';

.Heading{
    margin:auto;
    text-align: center;
    margin-bottom: 40px;
    p{
        @include b4s-body();
    }
    h2{
        @include b4s-h2(white, 700);
        margin-bottom:10px;
    }
}

.card{
    background: $b4s-grey-1;
    width: 360px;
    margin:auto;

    form{
        .nombres{
            display: flex;
            flex-direction: row;
            input{
                width: 170px;
            }
            .primer{
                margin-right:20px;
            }
        }

        .ultimo{
            margin-bottom:40px;
        }
    }
}

@include respond-to(tablet-screens) {
    .card{
        padding: 20px;
        width:auto;

        form{
            .nombres{
                flex-direction: column;
                input{
                    width: auto;
                }
                .primer{
                    margin-right:0;
                }
            }
        }
    }
}
