@import '../../../../assets/styles/all';

.card{
    margin-bottom: 40px;

    .title{
        @include b4s-title($b4s-blue-2, 600);
        margin-bottom: 15px;
    }

    .body{
        @include b4s-body-small($b4s-blue-2);
    }

    .changeLink{
        @include b4s-body($b4s-blue-2, 500);
    }

    .subCard{
        background: $b4s-grey-1;
        padding:20px 30px;
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        justify-content: space-between;

        .memtitle{
            @include b4s-body($b4s-blue-2);
        }
        .desc{
            flex: 0.25;
            .small{
                @include b4s-body-small($b4s-blue-2);
            }
            
        }
        .spacer{
            flex: 0.25;
        }
        .change{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a{
                text-decoration: none;
            }
        }
        .payMethod{
            display: flex;
            align-items: center;
            flex: 0.25;   
        }
    }

    &.leavingCard{
        .desc{
            flex: 0.75;
        }
        .quitButton{
            display: flex;
            align-items: center;
            min-width: 160px;
            .button{
                @include b4s-body-small()
            }
        }
    }

    @include respond-to(mobile-screens) { 
        .subCard{
            flex-direction: column;

            .desc{
                margin-bottom: 20px;
            }

            .change{
                margin-top:20px;
                justify-content: center;
            }


        }

        .payMethodContainer{
            .desc{
                order:1;
            }
            .payMethod{
                order: 2;
            }
            .change{
                order: 3;
            }
        }
    }
}

.alert{
    margin-top:20px;
}

.modal{
    h4{
        @include b4s-title($b4s-blue-2);
    }
    p{
        @include b4s-body-small($b4s-blue-2);
    }
    padding: 30px;
    .buttonBar{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        button:first-child{
            margin-right: 20px;
        }

        button{
            width: 200px;
        }
    }

    @include respond-to(mobile-screens){
        .buttonBar{
            display: flex;
            flex-direction: column;
            button{
                width: 100%;
            }

            button:first-child{
                margin: 0 0 20px 0;
            }
    
        }
    }
}




