@import '../../assets/styles/all';

.features{
    .featuresBody{
        position:flex;
    }

    .feature{
        display: flex;
        flex-direction:row;
        margin: 100px 0;
        .featureText{
            flex-basis: 60%;
            flex-shrink: 0;
            .featureTitle{
                @include b4s-h3(white, 600);
                margin-bottom: 15px;
            }
            .featureDesc{
                @include b4s-feature-text();
                text-align: justify;
            }
        }
        
        .marginLeft{
            margin-left:100px;
        }

        .marginRight{
            margin-right:100px;
        }

        .producerImg{
            flex-basis: 40%;
            max-height: 100%;
            max-width: 100%;
        }
        .beatsImg{
            flex-basis: 40%;
            max-height: 100%;
            max-width: 100%;
        }
    }

    
    @include respond-to(small-screens) {
        .feature{
            margin: 0;
            align-items: center;
            &.productores{
                margin-bottom: 50px;
                flex-direction: column-reverse;
                
                .producerImg{
                    margin:0 0 50px 0;
                }
            }
            &.beats{
                flex-direction: column;
                .beatsImg{
                    margin:0 0 50px 0;
                }
            }

            .marginLeft, .marginRight{
                margin: 100px 0 50px 0;
            }
        
            .producerImg{
                height: 250px;
                width: 320px;
            }
    
            .beatsImg{
                height: 250px;
                width: 320px;
            }
        }
    }
}